on:
  push:
    branches: ["main"]

  workflow_dispatch:

jobs:
   test-coverage:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v4
       - uses: actions/setup-go@v5
       - run: go build -o main
 